name: Hello-Template

on:
  issue_comment:
    types: [created]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm install @octokit/action
  call-workflow-1:
    uses: jefeish/hello-world-docker-action-template/.github/workflow-templates/hello-template.yml@v1.0
    with:
      who-to-greet: mona from template
