name: Hello-Template

on:
  issue_comment:
    types: [created]

jobs:
  test:
    runs-on: ubuntu-latest
    if: contains(github.event.issue.body, '/hello')
    steps:
      - uses: actions/checkout@v2
      - run: npm install @octokit/action

      - uses: actions/hello-world-docker-action@v1
        with:
          who-to-greet: 'Mona the Octocat'
